.moviePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    background-color: #f9f9f9;
  }
  
  .moviePage h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
  }
  
  .moviePage h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #222;
  }
  
  .moviePage p {
    font-size: 1rem;
    color: #555;
    text-align: center;
    margin: 10px 0;
  }
  
  .movieDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
  }
  
  .movieDetails img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
  }
  
  .loading {
    font-size: 1.2rem;
    font-weight: 500;
    color: #999;
  }

  .backButton {
  background-color: #344563;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.backButton:hover {
    background-color: #506a96;
    transform: scale(1.05);
  }
  